
  <div class="container-fluid">
    <div class="row mt-5 p-5" style="height: auto;background-color:rgb(247, 247, 247) ;">
        <div class="col-md-4  ">
            <div class="row p-2 maintext">
                SHOPPER'S STOP
            </div>
            <div class="row py-4 pr-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis commodi, autem repellat et exercitationem veritatis doloremque veniam .
            </div>
            
            <div class="row pl-2" style="font-weight: bolder; font-size: 30px;">FOLLOW US </div>
            <div class="icon-bar pt-4 pl-0">
                <a href="#" class="fa fa-facebook px-2" style="font-size: 35px;"></a>
                <a href="#" class="fa fa-twitter px-2" style="font-size: 35px;"></a>
                <a href="#" class="fa fa-instagram px-2" style="font-size: 35px;"></a>
            </div>
            <div class="row pl-2 pt-4" style=" font-size: 10px;">©2020 Shopper's Stop Powered by Shopify </div>
        </div>
        <div class="col-md-2 ">
            <div class="row pb-3 pt-4">
                <a href="#" style="color: black; font-size:17px ;">Home</a>
            </div>
            <div class="row pb-3">
                <a href="#" style="color: black; font-size:17px ;">Men</a>
            </div>
            <div class="row pb-3">
                <a href="#" style="color: black; font-size:17px ;">Women</a>
            </div>
            <div class="row pb-3">
                <a href="#" style="color: black; font-size:17px ;">Watches</a>
            </div>
            <div class="row pb-3">
                <a href="#" style="color: black; font-size:17px ;">Jackets</a>
            </div>
            
        </div>
        <div class="col-md-2 ">
            <div class="row pb-3 pt-4">
                <a href="#" style="color: black; font-size:17px ;">Search</a>
            </div>
            <div class="row pb-3">
                <a href="#" style="color: black; font-size:17px ;">Privacy</a>
            </div>
            <div class="row pb-3">
                <a href="#" style="color: black; font-size:17px ;">Terms and Conditions</a>
            </div>
            <div class="row pb-3">
                <a href="#" style="color: black; font-size:17px ;">Returns and Refunds</a>
                
            </div>

        </div>
        <div class="col-md-4 ">
            <div class="row pt-2 pb-3" style="font-weight: bold;font-size: 20px;">
                <div class="col">NEWSLETTER</div>
            </div>
            <div class="row pl-3">
                
                    <input type="email" id="email" name="email" placeholder="Email Here" style="padding-left: 20px; width: 300px;height: 37px; border: none;box-shadow: 1px 1px 1px 1px #b1b1b1;">
                    <input type="button" value="SIGN UP"  class="Viewbutton" style="box-shadow: 1px 1px 1px 1px #b1b1b1; width: 150px;height: 37px; ">
                
            </div>
            <div class="row p-5"></div>
            <div class="row p-5"></div>
            <div class="row p-3"></div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <img src="assets/Images/visa.jpg" alt="VISA" class="payapps">
                        </div>
                        <div class="col-md-2">
                            <img src="assets/Images/mastercard.png" alt="MASTER CARD" class="payapps">
                        </div>
                        <div class="col-md-2">
                            <img src="assets/Images/AmericanExpress.jpg" alt="AMERICAN EXPRESS" class="payapps">
                        </div>
                        <div class="col-md-2">
                            <img src="assets/Images/razorpay.jpg" alt="RAZORPAY" class="payapps">
                        </div>
                        <div class="col-md-2">
                            <img src="assets/Images/cod.jpg" alt="Cash On Delivery" class="payapps">
                        </div>
                    </div>
                </div>
            </div>     
            
        </div>
    </div>
  </div>
