
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand maintext px-3" routerLink="/home">SHOPPER'S STOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link navtools " routerLink="/home">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link navtools" style="color: black;" routerLink="/mens-wear"> MEN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link navtools" style="color: black;" routerLink="/womens-wear"> WOMEN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link navtools" style="color: black;" routerLink="/watches"> WATCHES </a>
            </li>
            <li class="nav-item">
                <a class="nav-link navtools" style="color: black;" routerLink="/offerpage"> OFFERS </a>
            </li>
           
        </ul>
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item ">
                <ion-searchbar *ngIf="hid" class="pb-1 px-2" ></ion-searchbar>
            </li>
            <li class="nav-item ">
                <i class="material-icons iconstyle pt-2 px-2 " (click)="showsearch()" > &#xe8b6;</i>
            </li>
            <li class="nav-item navright">
                <a (click)="cartclick()"><i class="material-icons iconstyle pt-2 px-2">&#xe854;</i></a>
            </li>
            <li class="nav-item dropdown navtools ">
                <a class="nav-link dropdown-toggle " routerLink="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons iconstyle icondrop px-2">&#xe7fd;</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown" style="width: 300px;">
                    <a class="dropdown-item " routerLink="#" ><div style="color:rgb(228, 112, 110) ;" (click)="isloggedin()">{{username}}</div><div>{{useremail}}</div></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/profile" href="javascript:void(0)">Profile Details</a>
                    <a class="dropdown-item" routerLink="/orderhistory" href="javascript:void(0)">Order History</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"  style="color: red;font-weight: bold;" (click)="isloggedin()" >{{logged}}</a>
                </div>
            </li>
            
        </ul>
        
    </div>

  </nav> 
</div>

