<ion-content>
  <app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row m-5 ">
        <div class="col-md-4 "></div> 
        <div class="col-md-4 logincard " >
            <div class="row px-5 " >
                <p style="text-align: center;font-weight: bolder;font-size: 20px;">LOGIN WITH SHOPPER'S STOP</p>
            </div>
            <div class="row p-2 " style="text-align: center;">
                <input type="text" name="First name" Placeholder="First Name" style="width:380px;height: 40px;" [(ngModel)]="firstname">
            </div>
            <div class="row p-2 " style="text-align: center;">
                <input type="text" name="Last name" Placeholder="Last name" style="width:380px;height: 40px;" [(ngModel)]="lastname">
            </div>
            <div class="row p-2 " style="text-align: center;">
                <input type="text" name="Email" Placeholder="Email" style="width:380px;height: 40px;" [(ngModel)]="email">
            </div>
            <div class="row p-2 " style="text-align: center;">
                <input type="password" id="password" name="password" Placeholder="Password" style="width:377px; height: 40px;" [(ngModel)]="password">  
                <i class="far fa-eye pt-1" id="togglePassword" style="font-size: 30px; margin-left: -40px;" ></i>
            </div>
            <div class="row p-2 " style="text-align: center;">
                <input type="number" name="Mobile Number" Placeholder="Mobile Number" style="width:380px;height: 40px;" [(ngModel)]="number">
            </div>
            <div class="row p-2"style="text-align: center;">
                <button type="button" class="loginbutton" (click)="register()">CREATE AN ACCOUNT</button>
            </div>
            <div class="row px-3 pt-2 mt-2">
                Have Account at Shopper's Stop? <a routerLink='/login'style="text-align: center;"> Login</a>
            </div>    
        </div>
        <div class="col-md-4"></div>
    
    </div>
</div>
<app-footer></app-footer>
</ion-content>
