#myid{
    padding:20px;
    border-style:ridge;
    margin:15px;
 }
 #my{
    margin-top:40px;
 }
 .myclass{
     padding-left: 25px;
     color:rgb(51, 13, 219);
 }
 .myclass3,.myclass4{
   color:rgb(255, 47, 47);
 }
 .myclass4{
     padding-left: 25px;
 }
 #my1{
     margin-top: 56px;
 }