
<ion-content>
  <app-navbar></app-navbar>
  <div class="container-rounded p-5 m-2 border:solid">
      <div class="row">
          <div class="col-md-4 p-5" ></div>
          <div class="col-md-4 logincard "  >
              <div class="row px-5 " style="margin-left: 70px;" >
                  <p style="text-align: center;font-weight: bolder;font-size: 20px;">Profile Details</p>
              </div>
              <div class="row p-2 " style="text-align: center;">
                  <input type="text" name="First name" Placeholder="First Name" style="width: 380px;height: 40px;">
              </div>
              <div class="row p-2 " style="text-align: center;">
                  <input type="email" id="email" name="email" Placeholder="Email ID" style="width:380px;height: 40px;">
              </div>
              <div class="row p-2 " style="text-align: center;">
                  <input type="number" name="Mobile Number" Placeholder="Mobile Number" style="width:380px;height: 40px;">
              </div>
              <div class="row p-2"style="text-align: center;">
                  <button type="button" class="loginbutton"><b>Update Details</b></button>
              </div>
              <div class="myclass5 " style="text-align: center;">
                  <a href="#" >Change Password</a>
              </div>    
          </div>
          
      </div>
        
  </div>
  <app-footer></app-footer>
</ion-content>
