
<ion-content>
  <app-navbar></app-navbar>
  <div class="container-rounded p-5 m-2 border:solid">
      <div class="row">
          <div class="col-md-4 p-5" ></div>
          <div class="col-md-4 logincard "  >
              <div class="row px-5 " style="margin-left: 70px;" >
                  <p style="text-align: center;font-weight: bolder;font-size: 20px;">Profile Details</p>
              </div>
              <div class="row p-2 " style="text-align: center;">
                <input type="email" name="email" attr.Placeholder={{email}} style="width:380px;height: 40px;" disabled>
              </div>
              <div class="row p-2 " style="text-align: center;">
                <input type="text" name="First name" attr.Placeholder={{deffirstname}} style="width: 380px;height: 40px;" [(ngModel)]="firstname">
              </div>
              <div class="row p-2 " style="text-align: center;">
                <input type="text" name="Last name" attr.Placeholder={{deflastname}} style="width: 380px;height: 40px;" [(ngModel)]="lastname">
              </div>
              <div class="row p-2 " style="text-align: center;">
                <input type="number" name="Mobile Number" attr.Placeholder={{defnumber}} style="width:380px;height: 40px;" [(ngModel)]="number">
              </div>
              <div class="row p-2"style="text-align: center;">
                  <button type="button" class="loginbutton" (click)="updatedetails()"><b>Update Details</b></button>
              </div>
              <div class="myclass5 " style="text-align: center;">
                  <a routerLink="#" >Change Password</a>
              </div>    
          </div>
          
      </div>
        
  </div>
  <app-footer></app-footer>
</ion-content>
